%p
  =$_->label_for($event, "show_at_home", "トップに表示する")
  =$_->check_box($event, "show_at_home", ["checked"=>$event->is_auto_draft()])
%p
  =$_->label_for($event, "scheduled_on", "日時")
  %input(type="text" id="event_scheduled_on" name="event[scheduled_on]" value="#{$event->scheduled_on}")
